# Remote URLs for Module Federation
VITE_SUDOKU_URL=http://localhost:5001
VITE_NUMEROX_URL=http://localhost:5002
VITE_NUMEROX_LETTERS_URL=http://localhost:5003
VITE_LOGIC_PUZZLES_URL=http://localhost:5004
VITE_CROSSWORDS_URL=http://localhost:5005
VITE_TANGO_URL=http://localhost:5006
VITE_N_QUEENS_URL=http://localhost:5007

# API Gateway
VITE_GATEWAY_URL=http://localhost:8080
