[submodule "frontend"]
	path = frontend
	url = git@github.com:gardusig/static-puzzles-frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:gardusig/static-puzzles-backend.git
[submodule "docs"]
	path = docs
	url = git@github.com:gardusig/static-puzzles-docs.git
[submodule "catalog"]
	path = catalog
	url = git@github.com:gardusig/static-puzzles-catalog.git
